{% extends 'dashboard_wrapper.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}
<!--Group section-->
{% if groups %}
<section class="group-section">
    <div class="group-wrapper container">
        <div class="header-container">
            <h1>Your Groups</h1>
            <div class="">
                <a class="btn btn-primary" href="{% url 'public_dashboard' %}"> public groups</a>
            </div>
        </div>
        
        {% include 'collaboration_app/components/group_component.html' %}
        
    </div>
</section>
<!--End of group section-->

<!--Task section-->
<section class="task-section">
    <div class="task-wrapper container">
        <div class="task-header">
            <h1>Assigned Tasks</h1>
            {% if request.user == group.group_head %}
                <div class="">
                    <a class="btn" href="{% url 'create_task' group.pk %}">Create Task</a>
                </div>
            {% endif %}
        </div>
        
        {% include 'collaboration_app/components/task_component.html' %}
        
    </div>
    
</section>
<!--End of task section-->

<!--Activity section-->
<section class="activity-section" id="activity-section">
    <div class="activity-wrapper container">
        <h1>Recent Activities</h1>
        {% include 'collaboration_app/components/discussion_component.html' %}
    </div>
</section>
<!--End of activity section-->
{% else %}
<div class="empty group-empty">
    <div class="">
        <img class="empty-img" src="{% static 'static_files/empty.svg' %}" alt="">
    </div>
    <h1>Oops</h1>
    <p>No private groups found</p>
    <br>
    <div class="empty-links">
        <a href="{% url 'create_group' %}">Create a group</a>
        <a href="{% url 'public_dashboard' %}">go to public groups</a>
    </div>
    
</div>
{% endif %}

{% endblock content %}