<!--Top bar-->
    <!--to be included in the base-->
    <div class="top">
        <div class="wrapper">
            <h1 class="navbar-brand"><a href="/">Collabify</a></h1>
            <div class="d-flex gap-3">
                <div class="">
                    <form class="search" action="" method="get">
                        <input name='q' class="form-control" type="text" placeholder="search">
                    </form>
                </div>

                <div class="notification">
                    <a href=""><i class="bi bi-bell"></i></a>
                </div>

                <div class="navbar_menu d-flex"> 
                    <i class="bi bi-list menu-btn"></i>
                    <i class="bi bi-x-lg close-btn"></i> 
                </div>
            </div> 
        </div>
    </div>
<!--End of top bar-->